<form class="form new-project-form">
  <div class="form-group">
    <label for="postTitle">Title:</label>
    <input
      class="form-input"
      type="text"
      id="postTitle"
      name="postTitle"
    />
  </div>
  <div class="form-group">
    <label for="postBody">Blog Post:</label>
    <textarea
      class="form-input"
      id="blog-post"
      name="postBody"
    ></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Post</button>
  </div>
  
</form>

<script src="/js/new.js"></script>