<div class="posts">
    {{#each posts}}
    <a href="/dashboard/edit/{{id}}">
    <span>{{title}}</span>
    <span>{{format_date createdAt}}</span>
    </a>

    {{/each}}
</div>

<a href="/new" class="btn btn-success">Post</a>
