<div>
    <div>
        <h2>edit post</h2>
    </div>

    <form id="editPostForm">
        <input type="hidden" name="postId" value="{{post.id}}"/>

        {{!-- add place to show post title and be able to edit --}}

        {{!-- have a text area for the post body --}}

        {{!-- button to submit --}}

        {{!-- button to delete --}}
    </form>
</div>